body {
    margin-left: 10%;
    max-width: 800px;
    min-width: 320px;
}

#field table {
    background-color: #070;
    width: 90%;
    max-width: 800px;
}

#field td {
    border-collapse: separate;
    border: 2px solid #070;
    padding-bottom: 15%; /* = width for a square aspect ratio */
    background: #ddd;
    border-radius: 50%;
}

#field td.red {
    background: #a00;
    border-width: 2px;
}

#field td.blue {
    background: #00a;
    border-width: 2px;
}

button {
    display: block;
    width: 95%;
    margin: 5px 0 5px 0;
}

input {
    display: block;
    width: 93%;
    margin: 5px 0 5px 0;
}



