body {
   margin-left: 10%;  
   //padding-left: 30px;
}

table{
   background-color: #CCC;
   width: 90%;
}

table tbody tr td {
   border: 1px solid white; 
   margin: 2px;
   height: 32px;
   width: 33%;
   text-align: center; 
}

.brick1{
   float:left; 
   min-width:25%;
   background: #a00;
   vertical-align:middle;
   height: 30px;
}

.brick2{
   float:left; 
   min-width:50%;
   background: #a00;
   vertical-align:middle;
   height: 30px;
}
.brick3{
   float:left; 
   min-width:75%;
   background: #a00;
   vertical-align:middle;
   height: 30px;
}
.brick4{
   float:left; 
   min-width:100%;
   background: #a00;
   vertical-align:middle;
   height: 30px;
}