/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.02.2015, 15:47:06
    Author     : A403163
*/

#field table{
    background-color: #AAA;
    width: 30%;
    margin: auto;
}

#field table tbody tr td {
    border: 1px solid white; 
    padding-bottom: 15%; /* = width for a square aspect ratio */
    border-radius: 50%;
    margin: 2px;
}


.player1    {
    margin: 3px;
    background:  #222;;
    border-radius: 50%;
}
.player2 {
    margin: 3px;
    background:  #ddd;;
    border-radius: 50%;
}